<div class="col-lg-3 col-md-4 bg-light p-3">
    <div class="list-group">
        <a href="/user/dashboard" class="list-group-item list-group-item-action btn-info text-center">Home</a>
        <a href="/user/profile" class="list-group-item list-group-item-action btn-info text-center">Profile</a>
        <a href="/user/pickup_locations" class="list-group-item list-group-item-action btn-info text-center">Book</a>
        <a href="/user/return" class="list-group-item list-group-item-action btn-info text-center">Return</a> 
        <!-- Add more sidebar links as needed -->
    </div>
</div>